{% extends 'base.html' %}
{% load static %}

{% block title %}日記一覧{% endblock %}

{% block head %}

{% endblock %}

{% block contents %}

<div class="div-style w-100">
    <div class="container">
        <div class="clearfix">
            <a class="btn btn-danger float-right" href="{% url 'journal:diary_create' %}">新規作成</a>
            {% include "journal/snippets/search_form.html" %}
        </div>
        <h1 class="section-title">{{ heading }}</h1>
        <div class="container">
            <div class="row">
                <main class="col-md-8">
                        {% for journal in journal_list %}
                            {% if user.is_authenticated or journal.is_public %}
                                <article class="post-preview card mb-3">
                                    <a href="{% url 'journal:diary_detail' journal.pk %}">
                                        <h2 class="post-title">{{ journal.title }}</h2></b>
                                        <p class="post-meta">
                                            {{ journal.created_at | date:'Y年n月j日' }}
                                        </p>
                                        <div class='contents'>
                                            <p>{{ journal.content|truncatechars:30 }}</p>
                                        </div>
                                    </a>
                                </article>
                            {% endif %}
                        {% empty %}
                            <p>日記がありません。</p>
                        {% endfor %}
                </main>
                <aside class="col-md-4">
                    {% include "journal/snippets/sidebar.html" %}
                </aside>
            </div>
        </div>


        <!-- ページネーション処理 -->
        {% if is_paginated %}
            <ul class="pagination">
                <!-- 前ページへのリンク -->
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                <!-- ページ数表示 -->
                {% for page_num in page_obj.paginator.page_range %}
                    {% if page_obj.number == page_num %}
                        <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                    {% endif %}
                {% endfor %}

                <!-- 次ページへのリンク -->
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}

    </div>
    
    
</div>
    
{% endblock %}
