{% for comment in journal.comments.all %}
{% if user.is_authenticated or comment.approved %}
<div class="comment">
  <strong>{{ comment.name }}</strong>・{{ comment.timestamp }}
  <p>{{ comment.content|linebreaksbr }}</p>
  <p>
    <a href="{% url 'journal:reply_form' comment.pk %}">返信する</a>
    {% if not comment.approved %}
    ｜<a class="text-success" href="{% url 'journal:comment_approve' comment.pk %}">承認</a>
    ｜<a class="text-danger" href="{% url 'journal:comment_remove' comment.pk %}">削除</a>
    {% endif %}
  </p>

  {% for reply in comment.replies.all %}
  {% if user.is_authenticated or reply.approved %}
  <div class="reply ml-5">
    <strong>{{ reply.name }}</strong>・{{ reply.timestamp }}
    <p>{{ reply.content|linebreaksbr }}</p>
    <p>
      {% if not reply.approved %}
      <a class="text-success" href="{% url 'journal:reply_approve' reply.pk %}">承認</a>
      ｜<a class="text-danger" href="{% url 'journal:reply_remove' reply.pk %}">削除</a>
      {% endif %}
    </p>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endif %}
{% endfor %}
