
{% for journal in journal_list %}
    {% if user.is_authenticated or journal.is_public %}
        <article class="post-preview card mb-3">
            <a href="{% url 'journal:journal_detail' journal.pk %}">
                <h2 class="post-title">{{ journal.title }}</h2></b>
                <p class="post-meta">
                    {{ journal.created_at | date:'Y年n月j日' }}
                </p>
                <div class='contents'>
                    <p>{{ journal.content|truncatechars:30 }}</p>
                </div>
            </a>
        </article>
    {% endif %}
{% empty %}
    <p>まだ投稿はありません。</p>
{% endfor %}



